.row{
    min-height: 480px;
}

.brColor{
  background-color: #81C91D;
}

.brColorCancel{
  background-color: #0abe85;
}

.brColor:hover {
	background-color: #679c1c;
	color: #ffffff
}

.brColorCancel:hover{
	background-color: #019e6b;
	color: #ffffff
}

img{
  height: 50px;
}
.logoBuho{
    height: 420px;
    padding-top: 50px;
}
body{
    background: rgb(255, 255, 255);
}

.cont__form{
    background: rgba(227, 199, 247, 0.37);
    border-radius: 0 10px 10px 0 ;
    padding-top: 7%;
}
.card{
    border-radius: 10px;
}
#emailHelp{
    font-size: 13px;
    text-align: center;
    color: #838282;
}
.form-group{
    color: rgba(0, 0, 0, 0.493);
}

a:hover{
	text-decoration: none;
}